<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<title>CAELI</title>
        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/fevicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/fevicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/fevicon/favicon-16x16.png">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="{{url_for('index_html')}}"><img src="../static/images/logo.png" width="50" height="45"></a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{url_for('index_html')}}">Home</a></li>
					<li><a href="{{url_for('about_html')}}">About</a></li>
					<li><a href="{{url_for('usecase_html')}}">Usecase</a></li>
					<li><a href="{{url_for('eda_html')}}">EDA</a></li>
					<li><a href="{{url_for('demo_html')}}">Demo</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Climate AI-CAELI</h1>
					<p>A step towards sustainability and carbon neutrality</p>
				</div>
				<video autoplay loop muted playsinline src="../static/images/GIF.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Is climate change a myth?</h2>
						<p>A major concern highlighted in the latest World Meteorological Organization (WMO) <a href="https://public.wmo.int/en/media/press-release/2020-track-be-one-of-three-warmest-years-record">report</a> is - "One in five chance of the average global temperature temporarily exceeding 1.5 °C by 2024. Other important point highlighted in the report are as follows:"</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>Temperatures and Heat</h3>
								</header>
								<p>The WMO assessment is based on five global temperature datasets. All five of those datasets currently place 2020 as the 2nd warmest for the year to date, following 2016 and ahead of 2019.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>Sea ice</h3>
								</header>
								<p>Arctic sea-ice reached its annual minimum in September, as the second lowest in the 42-year-old satellite record. Arctic sea ice for July and October 2020 was the lowest on record.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>Sea-level rise and ocean heat</h3>
								</header>
								<p>Much of the ocean experienced at least one 'strong' marine heatwave at some point in 2020.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Floods</h3>
								</header>
								<p>Severe flooding affected many millions of people in East Africa and the Sahel, South Asia, China and Viet Nam.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Heat, drought and fires</h3>
								</header>
								<p>Australia broke heat records in early 2020, including the highest observed temperatures in an Australian metropolitan area, in western Sydney when Penrith reached 48.9 °C on 4 January.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>Tropical Cyclones and storms</h3>
								</header>
								<p>The number of tropical cyclones globally was above average in 2020, with 96 cyclones as of 17 November in the 2020 Northern Hemisphere and 2019-2020 Southern Hemisphere seasons.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>What is JUA?</h2>
					<p>JUA is a branch of climate AI that focuses on cleaner energy transition.</p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Can renewable energy replace conventional source of energy?</h2>
						<p>This is a very common question the renewable industry has faced in last few decades and we hope the explanation in the below mentioned publication convinces you that we are in the right direction.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>The world’s best solar power schemes now offer the “cheapest…electricity in history” with the technology cheaper than coal and gas in most major countries.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="../static/images/pic01.png" alt="" />
									</div>
									<p class="credit">- <strong>CarbonBrief</strong> <span> clear on climate</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>A decade ago, solar was more than $300 a megawatt-hour and onshore wind exceeded $100 per megawatt-hour. Today, onshore wind is $37 in the U.S. and $30 in Brazil, while solar is $38 in China, the cheapest sources of new electricity in those countries.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="../static/images/pic02.png" alt="" />
									</div>
									<p class="credit">- <strong>Bloomberg</strong> <span>Green</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>2019 was one of the best years ever for solar in the European Union. The region installed 16.7 GW – a 104% increase over the 8.2 GW added the year before. Further, 2019 also showed the strongest solar growth since 2010, when the EU PV market also increased by 104% during the first European solar boom, although to a lower level, reaching 13.4 GW</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="../static/images/pic03.png" alt="" />
									</div>
									<p class="credit">- <strong>EU Market Outlook</strong> <span>For Solar Power / 2019 - 2023
</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						
					<div class="copyright">
						Disclaimer: This web application is using industrious template from <a href ="https://templated.co/">templated.co</a>. Images are used from <a href="https://www.pexels.com/search/solar%20panel/">Pexels</a>. In case of any concern please mail us at <a href="mailto:rohitmishra.ee2009032@gmail.com">contact</a>. 
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>