<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>About</title>
		<link rel="apple-touch-icon" sizes="180x180" href="../static/images/fevicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/fevicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/fevicon/favicon-16x16.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="{{url_for('index_html')}}"><img src="../static/images/logo.png" width="50" height="45"></a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{url_for('index_html')}}">Home</a></li>
					<li><a href="{{url_for('about_html')}}">About</a></li>
					<li><a href="{{url_for('usecase_html')}}">Usecase</a></li>
					<li><a href="{{url_for('eda_html')}}">EDA</a></li>
					<li><a href="{{url_for('demo_html')}}">Demo</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>AI in Renewable</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<h3><strong>LCOE</strong></h3>
						</header>
						<p>Levelized cost of energy (LCOE) is the common metric based on which different conventional or unconventional energy generating sources are compared from an economic perspective. In recent years solar or renewable energy sources although are intermittent but have lower LCOE as compared to coal-based generation.</p>
					
						<img src="../static/images/LCOE.png" alt="LCOE" style="vertical-align:middle;border:5px solid black">
						
						<header>
							<h3>  </h3>
						</header>
						<header>
							<h3><strong>Predictive Maintenance</strong> </h3>
						</header>
						
						<p>From 2010 to 2019 solar has drawn the attention of investors with EUR 122 billion investment that amounts to 42.5% of all new renewable energy investment in Europe. System optimization plays a significant role in making global acceptance of solar on the utility-scale. Predictive maintenance acts as an accelerator to operate solar farms efficiently with less manual intervention and AI will certainly lead this effort.</p>
						
						<img src="../static/images/PM.png" alt="PM" style="vertical-align:middle;border:5px solid black">
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						
					<div class="copyright">
						Disclaimer: This web application is using industrious template from <a href ="https://templated.co/">templated.co</a>. Images are used from <a href="https://www.pexels.com/search/solar%20panel/">Pexels</a>. In case of any concern please mail us at <a href="mailto:rohitmishra.ee2009032@gmail.com">contact</a>. 
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>